[Unit]
Description=Start Groupme Discord Bridge
Requires=network.target
After=network.target

[Service]
Type=simple
User={{groupme_discord_user}}
WorkingDirectory=/etc/groupme_discord_bridge
ExecStart={{groupme_discord_install_directory}}/groupme_discord
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
