[Unit]
Description=Start Gotify - a simple server for sending and receiving messages
Requires=network.target
After=network.target

[Service]
Type=simple
User={{gotify_user}}
WorkingDirectory={{gotify_install_directory}}
ExecStart={{gotify_install_directory}}/gotify
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
