[Unit]
Description=Rewrite Proxy for some UnifiedPush providers in Go
Requires=network.target
After=network.target

[Service]
Type=simple
User={{gotify_user}}
WorkingDirectory={{gotify_install_directory}}
ExecStart={{gotify_install_directory}}/up-rewrite-{{up_rewrite_arch}}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
